.demos__heading {
  margin-bottom: 0.5rem;
  text-align: center;
}

.demos__nav {
  margin-bottom: 1.5rem;
  font-size: 0.950rem;
  line-height: 1.75em;
  text-align: center;
}

.demos__nav a {
  margin-left: 0.75rem;
}

.demos__nav span {
  color: #4b4b4b;
  font-family: 'Frank Ruhl Libre', serif;
  font-style: italic;
  letter-spacing: 0.015em;
}

.demo {
  padding-top: 1rem;
  margin-bottom: 3rem;
  overflow: hidden;
}

.demo__main {
  background-image:
    linear-gradient(#f2f3f7, #f2f3f7),
    linear-gradient(transparent 1.5rem, #f2f3f7 1.5rem),
    linear-gradient(#f2f3f7, #f2f3f7);
  background-size:
    2rem calc((100vw - 1.8rem) * 0.666),
    calc(100% - 4rem) calc((100vw - 1.8rem) * 0.666),
    2rem calc((100vw - 1.8rem) * 0.666);
  background-position: 0 0, 2rem 0, 100% 0;
  background-repeat: no-repeat;
  padding: 0 1rem 1rem 1rem;
}

.demo__heading {
  width: 100%;
  margin: 0;
  padding: 0 1.5em;
  color: #9697ae;
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  text-align: center;
  line-height: 3rem;
  transform: translateY(-1.5rem);
}

.demo__notes-heading {
  margin: 1rem 0;
  font-family: 'Frank Ruhl Libre', serif;
  letter-spacing: 0.025em;
}

.demo__notes-list {
  padding: 0 0 1rem 1rem;
  font-size: 0.950rem;
}

.demo__notes-list li + li {
  margin-top: 0.5rem;
}

.demo__code-btn {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  text-decoration: none;
}

.demo__code {
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23ecedef;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M9.5 20h21M20 30.5v-21'/%3E%3C/svg%3E");
  background-size: 27px;
  background-position: center;
  margin: 1rem;
  padding: 1.5em;
  border: 1px solid #d5d5df;
  border-radius: 1px;
  color: #4b4b4b;
  line-height: 1.4em;
  overflow-x: auto;
}

@media (min-width: 768px) {
  .demos__nav {
    margin-bottom: 3rem;
  }

  .demo__main {
    background-size:
      2rem calc((100vw - 5.6rem) * 0.666),
      17rem calc((100vw - 5.6rem) * 0.666),
      calc(100% - 19rem) calc((100vw - 5.6rem) * 0.666);
    background-position: 0 0, 2rem 0, 19rem 0;
    padding: 0 2rem 2rem 2rem;
  }

  .demo__heading {
    width: 17rem;
    margin-bottom: 1rem;
    padding: 0 1.75rem;
    text-align: left;
  }

  .demo__code {
    background-size: 35px;
  }
}

@media (min-width: 900px) {
  .demos__heading {
    padding-left: 2rem;
    text-align: left;
  }

  .demos__nav {
    margin-bottom: 4rem;
    padding-left: 2rem;
    text-align: left;
  }

  .demos__nav a {
    margin-left: 1rem;
  }

  .demo {
    margin-bottom: 5em;
  }

  .demo__main {
    background-size:
      2rem calc(100% - 4rem),
      17rem calc(100% - 4rem),
      calc(100% - 19rem) calc(100% - 4rem);
  }

  .demo__content {
    display: flex;
  }

  .demo__example {
    width: 75%;
    padding-right: 2em;
  }

  .demo__notes {
    width: 25%;
    padding-bottom: 6rem;
    position: relative;
  }

  .demo__notes-heading {
    margin-top: 1.5rem;
  }

  .demo__notes-list {
    padding-bottom: 1rem;
  }

  .demo__code-btn {
    position: absolute;
    left: 0;
    bottom: 4rem;
  }

  .demo__code {
    margin: 1rem 2rem;
    padding: 2rem;
  }
}