/* Arrows */
.slick-prev,
.slick-next {
  visibility: hidden;
}

@media (min-width: 768px) {
  .slick-prev,
  .slick-next {
    background: #9697ae;
    width: 52px;
    height: 52px;
    padding: 0 0 0 5px;
    border: 6px solid #f2f3f7;
    outline: none;
    color: transparent;
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    visibility: visible;
    cursor: pointer;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
  }

  .slick-prev:hover:before,
  .slick-prev:focus:before,
  .slick-next:hover:before,
  .slick-next:focus:before {
    opacity: 1;
  }

  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: .25;
  }

  .slick-prev:before,
  .slick-next:before {
    content: " ";
    opacity: .75;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: block;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .slick-prev {
    left: 0;
  }

  [dir='rtl'] .slick-prev {
    left : 100%;
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    -ms-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
  }

  .slick-next{
    left: 100%;
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    -ms-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
  }

  [dir='rtl'] .slick-next {
    left: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: -25px;
  display: block;
  list-style: none;
  text-align: center;
}

.slick-dots li {
  padding: 0;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.slick-dots li button {
  background: transparent;
  width: 20px;
  height: 20px;
  padding: 5px;
  border: 0;
  outline: none;
  color: transparent;
  font-size: 0;
  line-height: 0;
  display: block;
  cursor: pointer;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  content: " ";
  background: #9697ae;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 0.25;
  display: block;
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
}