.thumbnail-gallery img {
  max-width: 100%;
  height: auto;
  display: block;
}

.thumbnail-gallery__thumbnails {
  margin-top: 10px;
  display: flex;
  overflow-x: scroll;
}

.thumbnail-gallery__thumbnail {
  width: 25%;
  min-width: 150px;
  padding-right: 10px;
}

.thumbnail-gallery__thumbnail:last-child {
  padding-right: 0;
}