.iiz {
  margin: 0;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.iiz--full {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.iiz__img {
  max-width: 100%;
  height: auto;
  display: block;
  cursor: zoom-in;
}

.iiz__zoom-img {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: linear 0.15s opacity, linear 0.15s visibility;
}

.iiz__zoom-img--visible {
  visibility: visible;
  opacity: 1;
  cursor: zoom-out;
}

.iiz__close {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .iiz--full {
    position: relative;
  }
}