*, *:before, *:after {
  box-sizing: border-box;
}

html {
  color: #373737;
  font: 125% 'Mada', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

body:before {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 40 40'%3E%3Cstyle%3E.st0%7Bfill:none;stroke:%23ecedef;stroke-miterlimit:10%7D%3C/style%3E%3Cpath class='st0' d='M9.5 20h21M20 30.5v-21'/%3E%3C/svg%3E");
  background-size: 35px;
  background-position: right bottom;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 70%;
  height: 70%;
}

h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 2rem;
  letter-spacing: 0.025em;
}

.heading--offset {
  text-align: center;
  padding-bottom: 1.5rem;
}

.nav__list {
  margin: 0;
  padding: 0.8rem 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.075em;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav__list--primary {
  background: #f2f3f7;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
}

.nav__item {
  padding: 0 0.6rem;
}

.nav__item--left {
  font-weight: 400;
  text-transform: none;
  position: absolute;
  top: 0.8rem;
  left: 0.2rem;
}

.nav__link {
  color: #373737;
  text-decoration: none;
  display: inline-block;
  position: relative;
  z-index: 0;
}

.nav__link:before {
  content: " ";
  background: #fff;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: 0.188em;
  left: 0.188em;
  display: block;
  z-index: -1;
  transition: height 0.2s linear;
}

.nav__link--active:before,
.nav__link:hover:before {
  height: 1.125em;
}

.nav__link:hover,
.nav__link:focus {
  color: #222;
}

.nav__list--secondary .nav__link {
  color: #e55a02;
}

.nav__list--secondary .nav__link:before {
  background: #f2f3f7;
}

.nav__list--secondary .nav__link:hover,
.nav__list--secondary .nav__link:focus {
  color: #e55a02;
}

.container {
  width: 100%;
  padding: 0.8rem;
}

.product__details {
  text-align: center;
}

.product__details h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.4rem;
}

.product__price {
  margin-top: 0.8rem;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.2rem;
  font-style: italic;
  letter-spacing: 0.025em;
}

.product__btn {
  background: #e55a02;
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 2px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  display: inline-block;
}

.product__btn:hover,
.product__btn:focus {
  background: #cc5002;
}

.product__list {
  margin: 0;
  border-top: 1px solid #d9dade;
  padding: 1.6rem 0 0 0;
  list-style: none;
  text-align: left;
}

.product__list li + li {
  margin-top: 10px;
}

.product__list li:first-child {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

.usage {
  background: #f2f3f7;
  border-radius: 2px;
  padding: 1.6rem;
}

@media (min-width: 768px) {
  .nav {
    background-image: linear-gradient(90deg, transparent 50%, #f2f3f7 50%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 50%;
    padding: 0 1.6rem;
  }

  .nav__list {
    max-width: 1100px;
    margin: 0 auto;
    padding: 1rem 0 1rem 1.6rem;
  }

  .nav__list--primary {
    border-radius: 2px;
  }

  .nav__item {
    padding: 0 0 0 2rem;
  }

  .nav__item--left {
    margin-right: auto;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
    position: static;
  }

  .container {
    max-width: 1164px;
    margin: 3.6rem auto;
    padding: 0 1.6rem;
  }

  .product {
    display: flex;
  }

  .product__img {
    width: 50%;
    flex-shrink: 0;
  }

  .product__details {
    padding-left: 7.5%;
    text-align: left;
  }

  .product__details h2 {
    font-size: 2rem;
  }

  .product__price {
    font-size: 1.2rem;
  }

  .product__btn {
    width: auto;
    margin-bottom: 2rem;
    padding: 0 2.25rem;
  }

  .product__list {
    border-top: none;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 3rem;

  }

  .heading--offset {
    padding-left: 2rem;
    text-align: left;
  }

  .nav__list {
    padding: 1.2rem 0 1.2rem 1.6rem;
  }

  .nav__item {
    padding-left: 3rem;
  }

  .nav__item--left {
    padding-left: 1rem;
  }
}