*, *:before, *:after {
  box-sizing: border-box;
}

html {
  color: #373737;
  font: 125% 'Mada', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  padding: 0;
}

.nav__list {
  margin: 0;
  padding: 0.8rem 0.2rem;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.6rem;
  letter-spacing: 0.075em;
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

.nav__list--primary {
  background: #f2f3f7;
  justify-content: center;
  font-weight: 900;
  text-transform: uppercase;
}

.nav__item {
  padding: 0 0.6rem;
}

.nav__item--left {
  font-weight: 400;
  text-transform: none;
  position: absolute;
  top: 0.8rem;
  left: 0.2rem;
}

.nav__item a {
  color: #373737;
  text-decoration: none;
  display: inline-block;
}

.nav__item a:hover,
.nav__item a:focus {
  color: #222;
}

.nav__list--secondary a {
  color: #e55a02;
}

.nav__list--secondary a:hover,
.nav__list--secondary a:focus {
  color: #cc5002;
}

.container {
  width: 100%;
  padding: 0.8rem;
}

.product__details {
  text-align: center;
}

.product__details h2 {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.4rem;
}

.product__price {
  margin-top: 0.8rem;
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 1.2rem;
  font-style: italic;
}

.product__btn {
  background: #e55a02;
  width: 100%;
  margin-bottom: 0.8rem;
  border-radius: 2px;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 3rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.075em;
  display: inline-block;
}

.product__btn:hover,
.product__btn:focus {
  background: #cc5002;
}

.product__list {
  margin: 0;
  border-top: 1px solid #d9dade;
  padding: 1.6rem 0 0 0;
  list-style: none;
  text-align: left;
}

.product__list li + li {
  margin-top: 10px;
}

.product__list li:first-child {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

.usage {
  background: #f2f3f7;
  border-radius: 2px;
  padding: 1.6rem;
}

@media (min-width: 768px) {
  .nav {
    background-image: linear-gradient(90deg, transparent 50%, #f2f3f7 50%);
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100% 50%;
    padding: 0 1.6rem;
  }

  .nav__list {
    max-width: 960px;
    margin: 0 auto;
    padding: 1rem 0 1rem 1.6rem;
  }

  .nav__list--primary {
    border-radius: 2px;
  }

  .nav__item {
    padding: 0 0 0 2rem;
  }

  .nav__item--left {
    margin-right: auto;
    padding: 0;
    font-weight: 900;
    text-transform: uppercase;
    position: static;
  }

  .container {
    max-width: 1024px;
    margin: 3.6rem auto;
    padding: 0 1.6rem;
  }

  .product {
    display: flex;
  }

  .product__img {
    width: 50%;
    flex-shrink: 0;
  }

  .product__details {
    /*padding-left: 3.6rem;*/
    padding-left: 7.5%;
    text-align: left;
  }

  .product__details h2 {
    font-size: 2rem;
  }

  .product__price {
    font-size: 1.2rem;
  }

  .product__btn {
    width: auto;
    margin-bottom: 2rem;
    padding: 0 2.25rem;
  }

  .product__list {
    border-top: none;
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .nav__list {
    padding: 1.2rem 0 1.2rem 1.6rem;
  }
}